
 <div class="container">
     <div class="row">
        <h1 class="text-info">Edit Field</h1>
         <div class="col-md-4">
          <img class="img-thumbnail" [src]="details.productimage" style="height:300px; width:400px;" />
          <div>
         <div class="form-group">
               <input type="file" class="form-control" placeholder="Image" id="productimage" (change)="incomingfile($event)" name="productimage" [(ngModel)]="details.productimage" accept='image/*'
       placeholder="Upload file" >
         </div>
       </div>
          <!-- <button class="btn btn-success" (click)="UpdatedProductimage()">Edit Image</button> -->
         </div>
         <div class="col-md-4">
             
    <form #ref ="ngForm"  (ngSubmit)="UpdatedProduct(ref)">
        <div>
          <div class="form-group" >
            <label for="productID">Product Id:</label>
            <input type="text" class="form-control" placeholder="Enter name"  [(ngModel)]="details.productID" name="productID" id="productID" ngModel readonly >
          </div>
        <div class="form-group" >
          <label for="productname">Name:</label>
          <input type="text" class="form-control" placeholder="Enter name"  [(ngModel)]="details.productname" name="productname" id="productname" ngModel  >
        </div>
    </div>
       <div>
        <div class="form-group">
          <label for="productprice">Price:</label>
          <input type="number" class="form-control" placeholder="Enter Price" name="productprice" id="productprice" [(ngModel)]="details.productprice">
        </div>
    </div> 
        <div>
        <div class="form-group">
            <label for="productdiscount">Discount:</label>
            
            <input type="number" class="form-control" placeholder="Enter Discount" name="productdiscount" id="productdiscount" [(ngModel)]="details.productdiscount">
          </div>
        </div>
           <br>
          <div> 
            <button type="submit"  class="btn btn-warning"
            >Update Product Details</button>
        
    </div>
      </form>

     
  

         </div>
         <div class="col-md-4"></div>
     </div>



</div>
